@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
.head {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
  padding-top: 0px;
  flex-direction: row;
  height: 70px;
  color: gray;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
}
.head a:hover {
  text-decoration: none;
  color: black;
}
.head a {
  color: gray;
}
#home,
#aboutus,
#contacts,
#lastt,
#videographers,
#reviews {
  margin-top: 19px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white ;
}
.mainbody {
  padding-top: 0;
  background-image: url(img/Без-имени-1.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 751px;
  text-align: center;
}
.mainbody h1 {
  padding-top: 200px;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
#logo a {
  color: blacks;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black ;
}
#last {
  text-align: center;
  padding-top: 50px;
  background-image: url(img/white-flecks.png);
  padding-bottom: 50px;
}
.foto {
  background-image: url(img/dark-gray-flecks.png);
  height: 700px;
}
.obwee_foto {
  background-image: url(img/photo-camera-fotoapparat-5794.jpg);
}
#videographerss {
  background-image: url(img/white-flecks.png);
  height: 700px;
}
.obwee_foto img {
  width: 80%;
  height: 120%;
  margin-left: 10%;
  margin-top: 55px;
}
.Reviews {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin-left: 19%;
}
#review {
  background-image: url(img/light-gray-flecks.png);
}
.photos,
.videos {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 50px;
}
#photo1 img {
  width: 70%;
  padding-top: 50px;
}
#photo2 img {
  width: 70%;
}
#photo3 img {
  width: 70%;
  padding-top: 50px;
}
#video1 video {
  width: 350px;
  height: 250px;
  padding-top: 50px;
}
#video2 video {
  width: 350px;
  height: 250px;
}
#video3 video {
  width: 350px;
  height: 250px;
  padding-top: 50px;
}
.obwee_foto {
  height: 500px;
  background-image: url();
}
#form_container {
  padding: 15px 15px;
  margin-top: 130px;
  margin-left: -80px;
  float: left;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#contact {
  height: 750px;
  top: 0;
  background-image: url("img/fon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#popup {
  position: absolute;
  top: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 2;
  opacity: 0;
}
.popup-content {
  background-color: white;
  height: 330px;
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
#map {
  height: 500px;
  width: 600px;
  float: right;
  position: absolute;
  margin-left: 800px;
  margin-top: -510px;
}
.nav {
  float: left;
  display: none;
}
label {
  margin: 8px 0 0 20px;
  font-size: 30px;
}
#toggle {
  display: none;
}
.wrapper {
  height: 500px;
  margin: auto;
  position: relative;
  width: 1000px;
  padding-top: 30px;
  margin-bottom: 30px;
}
.slider {
  background-image: url(img/light-gray-scratone.png);
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.wrapper > input {
  display: none;
}
.slides {
  height: inherit;
  position: absolute;
  width: inherit;
}
.wrapper .controls {
  left: 50%;
  margin-left: -60px;
  position: absolute;
}
.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.wrapper label:after {
  border: 2px solid #000000;
  content: " ";
  display: block;
  height: 12px;
  left: -2.25px;
  position: absolute;
  top: -2.25px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out 0.5s;
  -moz-transition: background ease-in-out 0.5s;
  -o-transition: background ease-in-out 0.5s;
  transition: background ease-in-out 0.5s;
}
.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
  background: #000000;
}
.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  -moz-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  -o-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
footer {
  bottom: 0;
  left: 0;
  height: 100px;
  right: 0;
  border-top: black 3px solid;
}
footer div.social-media-links {
  background-image: url(img/light-gray-flecks.png);
  overflow: hidden;
  padding-bottom: 4px;
  text-align: end;
}
footer div.social-media-links ul {
  margin: 0;
  padding: 0;
}
footer div.social-media-links li {
  display: inline;
  margin: 0;
  padding: 0;
}
footer div.social-media-links a {
  border-bottom: 0px solid rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 90px;
  padding: 40px;
  position: relative;
  transition: 0.2s ease-in;
  width: 30px;
}
footer div.social-media-links a svg {
  left: 25px;
  position: absolute;
  top:30px;
  height: 30px;
  width: 30px;
}
footer div.social-media-links a svg.glow path,
footer div.social-media-links a svg.glow circle {
  fill: rgba(0, 0, 0, 0);
}
footer div.social-media-links a svg path,
footer div.social-media-links a svg circle {
  fill: #0096a1;
  transition: 0.2s ease-in;
}
footer div.social-media-links a:hover {
  transform: translateY(-4px);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.05), 0 24px 24px rgba(0, 0, 0, 0.05), 0 36px 36px rgba(0, 0, 0, 0.05), 0 64px 64px rgba(0, 0, 0, 0.15), 0 64px 128px rgba(0, 0, 0, 0.15), 0 86px 8px 6px rgba(14, 186, 199, 0.25), 0 83px 4px 0px rgba(14, 186, 199, 0.95);
}
footer div.social-media-links a:hover svg.glow {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  filter: blur(2px);
}
footer div.social-media-links a:hover svg.glow path,
footer div.social-media-links a:hover svg.glow circle {
  fill: rgba(14, 186, 199, 0.6);
}
footer div.social-media-links a:hover svg path,
footer div.social-media-links a:hover svg circle {
  fill: #0ebac7;
}
@media screen and (max-width: 1200px) {
  .photos,
  .videos {
    flex-direction: column;
  }
  .mainbody {
    background-repeat: no-repeat;
    top: 100px;
  }
  #video1 video {
    width: 550px;
    height: 450px;
    padding-top: 50px;
  }
  #video2 video {
    width: 550px;
    height: 250px;
  }
  #video3 video {
    width: 550px;
    height: 450px;
    padding-top: 50px;
  }
  #map{
    margin-left: 200px;
    margin-top: 100px;
  }
  #form_container {
    padding: 15px 15px;
    margin-top: 130px;
    margin-left: 230px;
    float: left;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  #contact{
    height: 1350px;
  }
  #kek{
    padding-top: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .photos,
  .videos {
    flex-direction: column;
  }
  .nav {
    display: inline;
  }
  label {
    cursor: pointer;
    display: block;
  }
  .head {
    display: block;
    position: absolute;
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    margin-bottom: 600px;
    height: 0;
    top:0;
    background-image: url(img/white-flecks.png);
  }
  .head a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  #home,
  #aboutus,
  #contacts,
  #videos,
  #videographers,
  #reviews {
    border-top: black 2px solid;
    margin-right: 30px;
    padding: 10px 0;
  }
  .mainbody h1 {
    padding-top: 0;
    margin-bottom: 30px;
  }
  #toggle:checked + .head {
    display: none;
  }
  .mainbody {
    background-repeat: no-repeat;
    padding-top: 600px;
  }
  #video1 video {
    width: 550px;
    height: 450px;
    padding-top: 50px;
  }
  #video2 video {
    width: 550px;
    height: 250px;
  }
  #video3 video {
    width: 550px;
    height: 450px;
    padding-top: 50px;
  }
}
